body
{
	background-color: #efefef;
	font-size: 12pt;
	color: #444;
	padding: 0;
	margin: 0;
}

button
{
	padding: 0.45em 0 0.45em 0.5em;
	background-color: #dfdfdf;
}

button.default
{
	font-weight: bold;
}

fieldset
{
	padding: 0.35em 0.5em 0.35em 0.5em ;
	border: 0 none;
}

#btnSave
{
	margin: 0.25em 0 0 0;
	width: 20em; 
}

#toolbar a
{
	display: inline-block;
	width: 10em;
	text-align: right;
	position: absolute;
	right: 1em;
	top: 1em;
}


#btnSave:after
{
	content: "Save and load script";
}

.editorChangedState #btnSave:after
{
	content: "Save and load changed script *";
}

.editorSavedState #btnSave:after
{
	content: "Script saved"
}

textarea
{
	/* Remove default glow border if focused */
	border: 0 none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background-color: #fff;
	margin: 0;
	padding: 0.5em;
	font-size: 10pt;
	font-family: monospace;
	box-sizing: border-box;
	resize: none;
	width:  calc( 100vw - 1.5em );
	height: calc( 100vh - 5em   );
}

